@-webkit-keyframes wiggle 
{
    10% {-webkit-transform: translate(4px);}
}
.un:hover  {
    -webkit-animation-name: wiggle;
    -webkit-animation-duration: 1.2s;
    -webkit-animation-iteration-count: infinite;
}
@-webkit-keyframes wiggle 
{
    10% {-webkit-transform: translate(2px);}
}
.deux:hover  {
    -webkit-animation-name: wiggle;
    -webkit-animation-duration: 1.2s;
    -webkit-animation-iteration-count: infinite;
}

@-webkit-keyframes up 
{
    10% {-webkit-transform: translate(10px 10px);}
}
.btn:hover {
    -webkit-animation-name: up;
    -webkit-animation-duration: 1.2s;
    -webkit-animation-iteration-count: infinite;
}


#blocpage {
    display: flex;
    flex-direction: column;
    text-align: center;
    margin: auto;
    
}

.corps {
    display: flex;
    flex-flow: wrap;
    width: 900px;
    justify-content: center;
}


.title {
    background-color: #098868;
    
}

h1 {
    color: rgb(255, 208, 0);
    margin: 0px;
    padding: 20px;
    font-size: 60px;;
}

section {
    display: flex;
    flex-wrap: wrap;
    justify-content: center;
}

footer {
    display: flex;
    flex-direction: row;
    position: sticky;
    bottom: 10px;
    background-color: #098868;
    padding: 20px;
    margin-top: 40px;
    justify-content: space-between;
    
    
}

.btn {
    background-color: #09a07a;
    font-size: 30px;
    padding-top: 5px;
    padding-bottom: 5px;
    padding-left: 30px;
    padding-right: 30px;
    border-radius: 10px;   
}

input {
    display: flex;
    width: 100%;
    border: none;
    background-color: rgba(236, 236, 236, 0.685);
    margin-top: 0px;
}

span {
    font-size: 30px;
    color: rgb(255, 208, 0);
}

.fas {
    font-size: 10px;
    color: rgb(255, 208, 0);
}

.note {
    font-size: 25px;
    background: linear-gradient(to bottom right, #f04a5e, #f78f6a);
    -webkit-background-clip: text;
    -webkit-text-fill-color: transparent;
}


.un>a {
    color: rgb(255, 208, 0);
    font-size: 35px;
}

.deux>a {
    color: rgb(255, 208, 0);
    font-size: 35px;
}




a:link {
    text-decoration: none;
}


.menu1 {
    display: flex;
    flex-flow: column;
    justify-content: center;
    align-items: center;
    width: 335px;
    height: 485px;
    margin: 30px;
    box-shadow: 0 0 10px 5px #ededed;
    text-align: center;
    font-size: 1.5rem;
    border-radius: 5px;
    background-color: rgb(253, 194, 203);
}

.menu1>p,
.menu1 i {
    transform: scale(1);
    opacity: 1;
    transition-duration: 600ms;
    text-decoration: none;
    color: black;
    font-weight: bold;
}

.menu1:hover>p,
.menu1:hover i {
    opacity: 0.5;
    transform: scale(1.6);
    transition: ease-in-out 600ms;
}

.menu2 {
    display: flex;
    flex-flow: column;
    justify-content: center;
    align-items: center;
    width: 335px;
    height: 485px;
    margin: 30px;
    box-shadow: 0 0 10px 5px #ededed;
    text-align: center;
    font-size: 1.5rem;
    border-radius: 5px;
    background-color: rgba(236, 205, 236, 0.384);
}

.menu2>p,
.menu2 i {
    transform: scale(1);
    opacity: 1;
    transition-duration: 600ms;
    text-decoration: none;
    background: linear-gradient(to bottom right, #b95604, #6f18faaf);
    -webkit-background-clip: text;
    -webkit-text-fill-color: transparent;
    font-weight: bold;
}

.menu2:hover>p,
.menu2:hover i {
    opacity: 0.5;
    transform: scale(1.6);
    transition: ease-in-out 600ms;
}

.menu3 {
    display: flex;
    flex-flow: column;
    justify-content: center;
    align-items: center;
    width: 335px;
    height: 485px;
    margin: 30px;
    box-shadow: 0 0 10px 5px #ededed;
    text-align: center;
    font-size: 1.5rem;
    border-radius: 5px;
    background-color: rgba(219, 219, 219, 0.39);
}

.menu3>p,
.menu3 i {
    transform: scale(1);
    opacity: 1;
    transition-duration: 600ms;
    text-decoration: none;
    background: linear-gradient(to bottom right, #3836e2, #0c84f5af);
    -webkit-background-clip: text;
    -webkit-text-fill-color: transparent;
    font-weight: bold;
}

.menu3:hover>p,
.menu3:hover i {
    opacity: 0.5;
    transform: scale(1.6);
    transition: ease-in-out 600ms;
}

.menu4 {
    display: flex;
    flex-flow: column;

    justify-content: center;
    align-items: center;
    width: 335px;
    height: 485px;
    margin: 30px;
    box-shadow: 0 0 10px 5px #ededed;
    text-align: center;
    font-size: 1.5rem;
    border-radius: 5px;

}

.menu4>p,
.menu4 i {
    transform: scale(1);
    opacity: 1;
    transition-duration: 600ms;
    text-decoration: none;
    background: linear-gradient(to bottom right, #099105, #b7f8b1af);
    -webkit-background-clip: text;
    -webkit-text-fill-color: transparent;
    font-weight: bold;
}

.menu4:hover>p,
.menu4:hover i {
    opacity: 0.5;
    transform: scale(1.6);
    transition: ease-in-out 600ms;
}

.menu_note {
    display: flex;
    flex-flow: column;
    width: 600px;
    margin: 30px;
    box-shadow: 0 0 10px 5px #ededed;
    font-size: 1rem;
    border-radius: 5px;
    background-color: rgb(253, 194, 203);
    .noteM {
        margin-top: 50px;
        background: linear-gradient(to bottom right, #f04a5e, #f78f6a);
        -webkit-background-clip: text;
        -webkit-text-fill-color: transparent;
        font-size: 3rem;
    }

}

.plats {
    display: flex;
    flex-direction: row;
    justify-content: space-between;
    margin-left: 60px;
    margin-right: 60px;
    
}

.plats_final {
    text-align: justify;
    margin-left: 60px;
    margin-right: 60px;
}

.droite {
    display: flex;
    flex-direction: row;
    justify-content: center;
    margin-top: 30px;
    margin-bottom: 30px;
    font-size: 20px;
    font-weight: bold;

}

.note_bottom {
    background: linear-gradient(to bottom right, #f04a5e, #f78f6a);
    -webkit-background-clip: text;
    -webkit-text-fill-color: transparent;
    margin-right: 20px;
}

img {
    width: 30%;
    display: flex;
    flex-direction: row;
}

h3{
    display: flex;
    flex-direction: row;
    justify-content: space-evenly;
}

.menu_note2 {
    display: flex;
    flex-flow: column;
    width: 600px;
    height: 800px;
    margin: 30px;
    box-shadow: 0 0 10px 5px #ededed;
    font-size: 1rem;
    border-radius: 5px;
    background-color: #fdc2cb50;
    h2 {
        margin-top: 60px;  
        margin-bottom: 60px;
        font-size: 40px;
        background: linear-gradient(to bottom right, #b95604, #6f18faaf);
        -webkit-background-clip: text;
        -webkit-text-fill-color: transparent;
        font-weight: bold;
    }

.orange {
    filter: invert(42%) sepia(72%) saturate(5965%) hue-rotate(25deg) brightness(95%) contrast(97%);
}

.violet {
    filter: invert(20%) sepia(45%) saturate(4080%) hue-rotate(274deg) brightness(93%) contrast(102%);
}

.violet2 {
    filter: invert(20%) sepia(80%) saturate(7175%) hue-rotate(257deg) brightness(98%) contrast(93%);
}

}
