// Variables index

$colour-primary: rgb(87, 156, 135);
$colour-secondary: rgb(253, 203, 70);
$input:rgba(236, 236, 236, 0.685);
$colour-note: linear-gradient(to bottom right, #f04a5e, #f78f6a);

// Variables Menu 

$box-shadow: 0 0 10px 5px #ededed;
$background-menu1: rgb(252, 223, 219);
$background-menu2: rgba(255, 245, 254,);
$background-menu3: rgba(249, 249, 249,) ;
$title-menu1: #000000;
$title-menu2: linear-gradient(to bottom right, #b95604, #6f18faaf);
$title-menu3: linear-gradient(to bottom right, #3836e2, #0c84f5af);
$title-menu4: linear-gradient(to bottom right, #099105, #b7f8b1af);

