@-webkit-keyframes wiggle {
  0% {
    transform: translateY(0px);
  }
  60% {
    transform: translateY(10px);
  }
  100% {
    transform: translateY(0px);
  }
}
.un:hover, .deux:hover {
  -webkit-animation-name: wiggle;
  animation: wiggle 0.4s ease-in-out infinite alternate;
}

@-webkit-keyframes wave {
  0% {
    transform: translateY(0px);
  }
  60% {
    transform: translateY(-10px);
  }
  100% {
    transform: translateY(0px);
  }
}
.dot {
  -webkit-animation-name: wave;
  animation: wave 1.3s ease-in-out infinite alternate;
}

.dot1 {
  -webkit-animation-name: wave;
  animation: wave 1.3s ease-in-out infinite alternate;
  -webkit-animation-delay: 0.2s;
}

.dot2 {
  -webkit-animation-name: wave;
  animation: wave 1.3s ease-in-out infinite alternate;
  -webkit-animation-delay: 0.4s;
}

#blocpage {
  display: flex;
  flex-direction: column;
  text-align: center;
  margin: auto;
  width: 100%;
}

.title {
  background-color: #579c87;
}

h1 {
  color: #fdcb46;
  margin: 0px;
  padding: 20px;
  font-size: 60px;
}

.corps {
  display: flex;
  flex-flow: wrap;
  width: 900px;
  justify-content: center;
}

body {
  margin: 0px;
}

footer {
  display: flex;
  flex-direction: row;
  position: sticky;
  bottom: 0px;
  background-color: #579c87;
  padding: 20px;
  justify-content: space-between;
  margin-top: 46px;
}

h3 {
  display: flex;
  flex-direction: row;
  justify-content: space-between;
  font-size: 20px;
  font-family: "Source Sans Pro", sans-serif;
}

h4 {
  display: none;
}

section {
  display: flex;
  flex-wrap: wrap;
  justify-content: center;
}

.next {
  display: flex;
  flex-wrap: nowrap;
}

span {
  font-size: 30px;
  color: #fdcb46;
}

.fas {
  font-size: 10px;
  color: #fdcb46;
}

.plats {
  display: flex;
  flex-direction: row;
  justify-content: space-between;
  margin-left: 60px;
  margin-right: 60px;
  font-family: "Source Sans Pro", sans-serif;
  font-size: 1rem;
}
.plats .prix {
  margin-top: 16px;
  font-weight: bold;
}

.plats_final {
  text-align: justify;
  font-family: "Source Sans Pro", sans-serif;
  font-size: 1rem;
}

.droite {
  display: flex;
  flex-direction: row;
  justify-content: center;
  margin-top: 30px;
  margin-bottom: 30px;
  font-size: 20px;
  font-weight: bold;
}

.note {
  font-size: 25px;
  background: linear-gradient(to bottom right, #f04a5e, #f78f6a);
  -webkit-background-clip: text;
  -webkit-text-fill-color: transparent;
}

.note_bottom {
  background: linear-gradient(to bottom right, #f04a5e, #f78f6a);
  -webkit-background-clip: text;
  -webkit-text-fill-color: transparent;
  margin-right: 20px;
}

.btn {
  background-color: #579c87;
  font-size: 30px;
  padding-top: 5px;
  padding-bottom: 5px;
  padding-left: 30px;
  padding-right: 30px;
  border-radius: 10px;
}

.un > a {
  color: #fdcb46;
  font-size: 35px;
}

.deux > a {
  color: #fdcb46;
  font-size: 35px;
}

a:link {
  text-decoration: none;
}

img {
  width: 28%;
  margin: auto;
}

.mouv {
  display: flex;
  justify-content: space-between;
  align-items: center;
  font-size: 1.5rem;
}
.mouv h3 {
  display: inline-flex;
  position: relative;
}
.mouv h3::before {
  content: "";
  position: absolute;
  width: 100%;
  transform: scaleX(0);
  height: 3px;
  bottom: 0px;
  left: 0;
  background-color: currentColor;
  transform-origin: bottom right;
  transition: transform 250ms ease-out;
}
.mouv h3:hover::before {
  cursor: pointer;
  transform: scaleX(1);
  transform-origin: bottom left;
}

.orange h3, .violet h3, .violet2 h3, .bleu h3, .bleu_clair h3, .bleu_clair2 h3 {
  display: inline-flex;
  position: relative;
}
.orange h3::before, .violet h3::before, .violet2 h3::before, .bleu h3::before, .bleu_clair h3::before, .bleu_clair2 h3::before {
  content: "";
  position: absolute;
  width: 100%;
  transform: scaleX(0);
  height: 3px;
  bottom: 0px;
  left: 0;
  background-color: currentColor;
  transform-origin: bottom right;
  transition: transform 250ms ease-out;
}
.orange h3:hover::before, .violet h3:hover::before, .violet2 h3:hover::before, .bleu h3:hover::before, .bleu_clair h3:hover::before, .bleu_clair2 h3:hover::before {
  cursor: pointer;
  transform: scaleX(1);
  transform-origin: bottom left;
}

.menu1 {
  display: flex;
  flex-flow: column;
  justify-content: center;
  align-items: center;
  width: 335px;
  height: 485px;
  margin: 30px;
  text-align: center;
  font-size: 1.5rem;
  border-radius: 5px;
  box-shadow: 0 0 10px 5px #ededed;
  background-color: #fcdfdb;
  font-family: "Ma Shan Zheng", cursive;
}

.menu1 > p,
.menu1 i {
  transform: scale(1);
  opacity: 1;
  transition-duration: 600ms;
  text-decoration: none;
  color: #000000;
}

.menu1:hover > p,
.menu1:hover i {
  opacity: 0.5;
  transform: scale(1.6);
  transition: ease-in-out 600ms;
  width: 100%;
  width: 100%;
  padding: 10px;
}

.menu2 {
  display: flex;
  flex-flow: column;
  justify-content: center;
  align-items: center;
  width: 335px;
  height: 485px;
  margin: 30px;
  text-align: center;
  font-size: 1.5rem;
  border-radius: 5px;
  box-shadow: 0 0 10px 5px #ededed;
  background-color: #fff5fe;
  font-family: "Redressed", cursive;
}

.menu2 > P,
.menu2 i {
  transform: scale(1);
  opacity: 1;
  transition-duration: 600ms;
  text-decoration: none;
  -webkit-background-clip: text;
  -webkit-text-fill-color: transparent;
  font-weight: bold;
}

.plat2 {
  background: linear-gradient(to bottom right, #b95604, #6f18faaf);
}

.ora {
  transform: scale(1);
  opacity: 1;
  transition-duration: 600ms;
  text-decoration: none;
  -webkit-background-clip: text;
  -webkit-text-fill-color: transparent;
  font-weight: bold;
  background-color: #c77412;
}

.menu2:hover > p,
.menu2:hover i {
  opacity: 0.5;
  transform: scale(1.6);
  transition: ease-in-out 600ms;
  width: 100%;
}

.menu3 {
  display: flex;
  flex-flow: column;
  justify-content: center;
  align-items: center;
  width: 335px;
  height: 485px;
  margin: 30px;
  text-align: center;
  font-size: 1.5rem;
  border-radius: 5px;
  box-shadow: 0 0 10px 5px #ededed;
  background-color: #f9f9f9;
  font-family: "Dancing Script", cursive;
}
.menu3 .plat3 {
  padding-left: 3px;
}

.menu3 > p,
.menu3 i {
  transform: scale(1);
  opacity: 1;
  transition-duration: 600ms;
  text-decoration: none;
  -webkit-background-clip: text;
  -webkit-text-fill-color: transparent;
  font-weight: bold;
}

.menu3:hover > p,
.menu3:hover i {
  opacity: 0.5;
  transform: scale(1.6);
  transition: ease-in-out 600ms;
  width: 100%;
}

.plat3 {
  background: linear-gradient(to bottom right, #3836e2, #0c84f5af);
}

.blue {
  transform: scale(1);
  opacity: 1;
  transition-duration: 600ms;
  text-decoration: none;
  -webkit-background-clip: text;
  -webkit-text-fill-color: transparent;
  font-weight: bold;
  background-color: #0887fb;
}

.menu4 {
  display: flex;
  flex-flow: column;
  justify-content: center;
  align-items: center;
  width: 335px;
  height: 485px;
  margin: 30px;
  text-align: center;
  font-size: 1.5rem;
  border-radius: 5px;
  box-shadow: 0 0 10px 5px #ededed;
  font-family: "Kaushan Script", cursive;
}

.menu4 > p,
.menu4 i {
  transform: scale(1);
  opacity: 1;
  transition-duration: 600ms;
  text-decoration: none;
  -webkit-background-clip: text;
  -webkit-text-fill-color: transparent;
  font-weight: bold;
}

.menu4:hover > p,
.menu4:hover i {
  opacity: 0.5;
  transform: scale(1.6);
  transition: ease-in-out 600ms;
  width: 100%;
}

.plat4 {
  background: linear-gradient(to bottom right, #099105, #b7f8b1af);
}

.green {
  transform: scale(1);
  opacity: 1;
  transition-duration: 600ms;
  text-decoration: none;
  -webkit-background-clip: text;
  -webkit-text-fill-color: transparent;
  font-weight: bold;
  background-color: #72bf56;
}

.menu_note {
  display: flex;
  flex-flow: column;
  width: 610px;
  margin: 30px;
  font-size: 1rem;
  border-radius: 5px;
  box-shadow: 0 0 10px 5px #ededed;
  background-color: #fcdfdb;
  font-family: "Ma Shan Zheng", cursive;
}
.menu_note .noteM {
  margin-top: 50px;
  background: linear-gradient(to bottom right, #f04a5e, #f78f6a);
  -webkit-background-clip: text;
  -webkit-text-fill-color: transparent;
  font-size: 3rem;
}
.menu_note .plats_final {
  margin: auto;
}

.menu_note2 {
  display: flex;
  flex-flow: column;
  width: 610px;
  margin: 30px;
  font-size: 1rem;
  border-radius: 5px;
  height: 1000px;
  box-shadow: 0 0 10px 5px #ededed;
  background-color: #fff5fe;
  font-family: "Redressed", cursive;
}
.menu_note2 .plats_final {
  margin-left: 60px;
}
.menu_note2 h2 {
  margin-top: 60px;
  margin-bottom: 60px;
  font-size: 30px;
  background: linear-gradient(to bottom right, #b95604, #6f18faaf);
  -webkit-background-clip: text;
  -webkit-text-fill-color: transparent;
  font-weight: bold;
}
.menu_note2 .orange {
  filter: invert(42%) sepia(72%) saturate(5965%) hue-rotate(25deg) brightness(95%) contrast(97%);
}
.menu_note2 .violet {
  filter: invert(20%) sepia(45%) saturate(4080%) hue-rotate(274deg) brightness(93%) contrast(102%);
}
.menu_note2 .violet2 {
  filter: invert(20%) sepia(80%) saturate(7175%) hue-rotate(257deg) brightness(98%) contrast(93%);
}
.menu_note2 .mouv2 {
  display: flex;
  justify-content: space-between;
  align-items: center;
  font-size: 1.5rem;
}

.plats_final3 {
  display: flex;
  flex-direction: row;
}

.menu_note3 {
  display: flex;
  flex-flow: column;
  width: 610px;
  margin: 30px;
  font-size: 1rem;
  border-radius: 5px;
  height: 1150px;
  box-shadow: 0 0 10px 5px #ededed;
  background-color: #f9f9f9;
  font-family: "Dancing Script", cursive;
}
.menu_note3 h2 {
  font-size: 40px;
  margin-top: 70px;
  background: linear-gradient(to bottom right, #3836e2, #0c84f5af);
  -webkit-background-clip: text;
  -webkit-text-fill-color: transparent;
}
.menu_note3 h3 {
  font-weight: lighter;
  font-style: italic;
}
.menu_note3 .plats {
  font-size: 14px;
}
.menu_note3 .mouv2 {
  display: flex;
  justify-content: space-between;
  align-items: center;
  font-size: 1.5rem;
}

.menu_note4 {
  display: flex;
  flex-flow: column;
  width: 610px;
  margin: 30px;
  font-size: 1rem;
  border-radius: 5px;
  height: 1000px;
  box-shadow: 0 0 10px 5px #ededed;
  font-family: "Kaushan Script", cursive;
}
.menu_note4 h2 {
  font-size: 40px;
  margin-top: 70px;
  background: linear-gradient(to bottom right, #099105, #b7f8b1af);
  -webkit-background-clip: text;
  -webkit-text-fill-color: transparent;
}
.menu_note4 h3 {
  font-weight: 400;
  font-style: italic;
}
.menu_note4 .plats {
  font-family: "Caveat", cursive;
  font-size: 19px;
}
.menu_note4 .mouv2 {
  display: flex;
  justify-content: space-between;
  align-items: center;
  font-size: 1.5rem;
}

.mentions {
  display: block;
  overflow: auto;
  justify-content: center;
  align-items: center;
  width: 400px;
  height: 550px;
  padding: 20px;
  margin-top: 30px;
  margin-right: 20px;
  box-shadow: 0 0 10px 5px #ededed;
  text-align: center;
  font-size: 1.5rem;
  border-radius: 5px;
  background-color: #f9f9f9;
  font-family: "Ma Shan Zheng", cursive;
}

@media screen and (max-width: 768px) {
  body {
    width: 100%;
    margin: auto;
  }

  .menu1,
.menu2,
.menu3,
.menu4 {
    margin: 15px;
  }

  p {
    margin: 13px;
    text-align: center;
  }

  .btn {
    margin-top: 20px;
  }

  .plats {
    display: flex;
    flex-direction: column;
  }

  .menu_note4 {
    height: auto;
  }

  .menu_note2 .plats_final {
    margin-left: 0px;
  }
}
@media screen and (max-width: 425px) {
  body {
    width: 100%;
    margin: auto;
  }

  .menu1,
.menu2,
.menu3,
.menu4 {
    margin-top: 20px;
    margin-left: 0px;
    margin-right: 0px;
  }
  .menu1 p,
.menu2 p,
.menu3 p,
.menu4 p {
    font-size: 28px;
  }

  .btn {
    margin-top: 20px;
  }

  .un > a,
.deux > a {
    font-size: 25px;
  }

  .plats {
    display: flex;
    flex-direction: column;
  }

  p {
    font-size: 13px;
    margin: 10px;
    text-align: center;
  }

  h3 {
    font-size: 14px;
  }
}
@media screen and (max-width: 320px) {
  body {
    width: 100%;
    margin: 0px;
  }

  .menu1,
.menu2,
.menu3,
.menu4 {
    margin-top: 20px;
    margin-left: 0px;
    margin-right: 0px;
    width: 290px;
  }

  header footer {
    width: 100%;
  }

  .btn {
    margin-top: 20px;
  }

  .un > a,
.deux > a {
    font-size: 25px;
  }

  .plats {
    display: flex;
    flex-direction: column;
  }

  p {
    font-size: 12px;
    margin: 8px;
  }

  h3 {
    font-size: 14px;
  }

  .menu_note2 .plats_final {
    margin-left: 0px;
  }

  .menu_note4 p {
    font-size: 17px;
  }
}

/*# sourceMappingURL=styles.css.map */
