@-webkit-keyframes wiggle {
  10% {
    -webkit-transform: translate(4px);
  }
}
.un:hover {
  -webkit-animation-name: wiggle;
  -webkit-animation-duration: 1.2s;
  -webkit-animation-iteration-count: infinite;
}

@-webkit-keyframes wiggle {
  10% {
    -webkit-transform: translate(2px);
  }
}
.deux:hover {
  -webkit-animation-name: wiggle;
  -webkit-animation-duration: 1.2s;
  -webkit-animation-iteration-count: infinite;
}

@-webkit-keyframes up {
  10% {
    -webkit-transform: translate(10px 10px);
  }
}
.btn:hover {
  -webkit-animation-name: up;
  -webkit-animation-duration: 1.2s;
  -webkit-animation-iteration-count: infinite;
}

#blocpage {
  display: flex;
  flex-direction: column;
  max-width: 1080px;
  text-align: center;
  margin: auto;
}

.title {
  background-color: #09a07a;
}

h1 {
  color: #ffd000;
  margin: 0px;
  padding: 30px;
  font-size: 50px;
}

section {
  display: flex;
  flex-wrap: wrap;
  justify-content: center;
}

footer {
  display: flex;
  flex-direction: row;
  background-color: #09a07a;
  padding: 20px;
  margin-top: 40px;
  justify-content: space-between;
  font-size: 50px;
}

.btn {
  background-color: #09a07a;
  font-size: 30px;
  padding-top: 5px;
  padding-bottom: 5px;
  padding-left: 30px;
  padding-right: 30px;
  border-radius: 10px;
}

input {
  display: flex;
  width: 100%;
  border: none;
  background-color: rgba(236, 236, 236, 0.685);
  margin-top: 0px;
}

span {
  font-size: 30px;
  color: #ffd000;
}

.fas {
  transition-duration: infinite;
  transform: translateY(-15px);
  font-size: 10px;
  color: #ffd000;
}

.note {
  font-size: 25px;
  background: linear-gradient(to bottom right, #f04a5e, #f78f6a);
  -webkit-background-clip: text;
  -webkit-text-fill-color: transparent;
}

.un > a {
  color: #ffd000;
  font-size: 35px;
}

.deux > a {
  color: #ffd000;
  font-size: 35px;
}

a:link {
  text-decoration: none;
}

.menu1 {
  display: flex;
  flex-flow: column;
  justify-content: center;
  align-items: center;
  width: 335px;
  height: 485px;
  margin: 30px;
  box-shadow: 0 0 10px 5px #ededed;
  text-align: center;
  font-size: 1.5rem;
  border-radius: 5px;
  background-color: #fdc2cb;
}

.menu1 > p,
.menu1 i {
  transform: scale(1);
  opacity: 1;
  transition-duration: 600ms;
  text-decoration: none;
  color: black;
  font-weight: bold;
}

.menu1:hover > p,
.menu1:hover i {
  opacity: 0.5;
  transform: scale(1.6);
  transition: opacity transform ease-in-out 600ms;
}

.menu2 {
  display: flex;
  flex-flow: column;
  justify-content: center;
  align-items: center;
  width: 335px;
  height: 485px;
  margin: 30px;
  box-shadow: 0 0 10px 5px #ededed;
  text-align: center;
  font-size: 1.5rem;
  border-radius: 5px;
  background-color: rgba(236, 205, 236, 0.384);
}

.menu2 > p,
.menu2 i {
  transform: scale(1);
  opacity: 1;
  transition-duration: 600ms;
  text-decoration: none;
  background: linear-gradient(to bottom right, #b95604, #6f18faaf);
  -webkit-background-clip: text;
  -webkit-text-fill-color: transparent;
  font-weight: bold;
}

.menu2:hover > p,
.menu2:hover i {
  opacity: 0.5;
  transform: scale(1.6);
  transition: opacity transform ease-in-out 600ms;
}

.menu3 {
  display: flex;
  flex-flow: column;
  justify-content: center;
  align-items: center;
  width: 335px;
  height: 485px;
  margin: 30px;
  box-shadow: 0 0 10px 5px #ededed;
  text-align: center;
  font-size: 1.5rem;
  border-radius: 5px;
  background-color: rgba(219, 219, 219, 0.39);
}

.menu3 > p,
.menu3 i {
  transform: scale(1);
  opacity: 1;
  transition-duration: 600ms;
  text-decoration: none;
  background: linear-gradient(to bottom right, #3836e2, #0c84f5af);
  -webkit-background-clip: text;
  -webkit-text-fill-color: transparent;
  font-weight: bold;
}

.menu3:hover > p,
.menu3:hover i {
  opacity: 0.5;
  transform: scale(1.6);
  transition: opacity transform ease-in-out 600ms;
}

.menu4 {
  display: flex;
  flex-flow: column;
  justify-content: center;
  align-items: center;
  width: 335px;
  height: 485px;
  margin: 30px;
  box-shadow: 0 0 10px 5px #ededed;
  text-align: center;
  font-size: 1.5rem;
  border-radius: 5px;
}

.menu4 > p,
.menu4 i {
  transform: scale(1);
  opacity: 1;
  transition-duration: 600ms;
  text-decoration: none;
  background: linear-gradient(to bottom right, #099105, #b7f8b1af);
  -webkit-background-clip: text;
  -webkit-text-fill-color: transparent;
  font-weight: bold;
}

.menu4:hover > p,
.menu4:hover i {
  opacity: 0.5;
  transform: scale(1.6);
  transition: opacity transform ease-in-out 600ms;
}

/*# sourceMappingURL=styles.css.map */
