
h3{
    display: flex;
    flex-direction: row;
    justify-content: space-between;
    font-size: 20px;
    font-family: 'Source Sans Pro', sans-serif;
}
h4{
    display: none;
}
section {
    display: flex;
    flex-wrap: wrap;
    justify-content: center;
}
.next {
    display: flex;
    flex-wrap: nowrap;
}
span {
    font-size: 30px;
    color: $colour-secondary;
}
.fas {
    font-size: 10px;
    color: $colour-secondary;
}
.plats {
    display: flex;
    flex-direction: row;
    justify-content: space-between;
    margin-left: 60px;
    margin-right: 60px;
    font-family: 'Source Sans Pro', sans-serif;
    font-size: 1rem;
}
.plats_final {
    text-align: justify;
    font-family: 'Source Sans Pro', sans-serif;
    font-size: 1rem;
}
.droite {
    display: flex;
    flex-direction: row;
    justify-content: center;
    margin-top: 30px;
    margin-bottom: 30px;
    font-size: 20px;
    font-weight: bold;
}