// mise en page

#blocpage {
    display: flex;
    flex-direction: column;
    text-align: center;
    margin: auto;
    width: 100%;
}

// Titre

.title {
    background-color: $colour-primary;
}
h1 {
    color: $colour-secondary;
    margin: 0px;
    padding: 20px;
    font-size: 60px;;
}

// corps

.corps {
    display: flex;
    flex-flow: wrap;
    width: 900px;
    justify-content: center;
}
body {
    margin: 0px;
}

// bas de page

footer {
    display: flex;
    flex-direction: row;
    position: sticky;
    bottom: 0px;
    background-color: $colour-primary;
    padding: 20px;
    justify-content: space-between;
    margin-top: 30px;
}