// mentions légales

  .mentions {
    display: block;
    overflow: auto;
    justify-content: center;
    align-items: center;
    width: 400px;
    height: 550px;
    padding: 20px;
    margin-top:30px;
    margin-right: 20px;
    box-shadow: $box-shadow;
    text-align: center;
    font-size: 1.5rem;
    border-radius: 5px;
    background-color: $background-menu3;
    font-family: 'Ma Shan Zheng', cursive;
  }  
