// menu 1 


.menu_note {
    @include display;
    box-shadow: $box-shadow;
    background-color: $background-menu1;
    font-family: 'Ma Shan Zheng', cursive;
    .noteM {
        margin-top: 50px;
        background: $colour-note;
        -webkit-background-clip: text;
        -webkit-text-fill-color: transparent;
        font-size: 3rem;
    }
    .plats_final {
       margin: auto;
    }
}