// menu 3

.menu_note3 {
    @include display;
    height: 1150px;
    box-shadow: $box-shadow;
    background-color: $background-menu3;
    font-family: 'Dancing Script', cursive;
    h2 {
        font-size: 40px;
        margin-top: 70px;
        background: $title-menu3;
        -webkit-background-clip: text;
        -webkit-text-fill-color: transparent;
        
    }
    h3 {
        font-weight: lighter;
        font-style: italic;
    }
    .plats {
        font-size: 14px;
    }
  }