// Menu 2 index

.menu2 {
    display: flex;
    flex-flow: column;
    justify-content: center;
    align-items: center;
    width: 335px;
    height: 485px;
    margin: 30px;
    box-shadow: $box-shadow;
    text-align: center;
    font-size: 1.4rem;
    border-radius: 5px;
    background-color: $background-menu2;
    font-family: 'Redressed', cursive;
}
.menu2>p,
.menu2 i {
    transform: scale(1);
    opacity: 1;
    transition-duration: 600ms;
    text-decoration: none;
    background: $title-menu2;
    -webkit-background-clip: text;
    -webkit-text-fill-color: transparent;
    font-weight: bold;
}
.menu2:hover>p,
.menu2:hover i {
    opacity: 0.5;
    transform: scale(1.6);
    transition: ease-in-out 600ms;
}

// menu 2 page 2

.menu_note2 {
    display: flex;
    flex-flow: column;
    width: 600px;
    height: 1000px;
    margin: 30px;
    box-shadow: $box-shadow;
    font-size: 1rem;
    border-radius: 5px;
    background-color: $background-menu2;
    font-family: 'Redressed', cursive;
    .plats_final {
        margin-left: 60px;
    }
    h2 {
        margin-top: 60px;  
        margin-bottom: 60px;
        font-size: 30px;
        background: $title-menu2;
        -webkit-background-clip: text;
        -webkit-text-fill-color: transparent;
        font-weight: bold;
    }
.orange {
    filter: invert(42%) sepia(72%) saturate(5965%) hue-rotate(25deg) brightness(95%) contrast(97%);
}
.violet {
    filter: invert(20%) sepia(45%) saturate(4080%) hue-rotate(274deg) brightness(93%) contrast(102%);
}
.violet2 {
    filter: invert(20%) sepia(80%) saturate(7175%) hue-rotate(257deg) brightness(98%) contrast(93%);
}
}
.plats_final3 {
    display: flex;
    flex-direction: row;
}