// barre de recherche

input {
    display: flex;
    width: 100%;
    border: none;
    background-color: $input;
    margin-top: 0px;
}

// icone Note
.note {
    font-size: 25px;
    background: $colour-note;
    -webkit-background-clip: text;
    -webkit-text-fill-color: transparent;
}
.note_bottom {
    background: $colour-note;
    -webkit-background-clip: text;
    -webkit-text-fill-color: transparent;
    margin-right: 20px;
}
// Bouton prochainement

.btn {
    background-color: $colour-primary;
    font-size: 30px;
    padding-top: 5px;
    padding-bottom: 5px;
    padding-left: 30px;
    padding-right: 30px;
    border-radius: 10px;   
}
.un>a {
    color: $colour-secondary;
    font-size: 35px;
}
.deux>a {
    color: $colour-secondary;
    font-size: 35px;
}

// Mail

a:link {
    text-decoration: none;
}

// images

img {
    width: 28%;
    margin: auto;
}

// Trait en dessous des titres de menu

.mouv  {
    display: flex;
    justify-content: space-between;
    align-items: center;
    font-size: 1.5rem;
    

    h3 {
        display: inline-flex;
        position: relative;

        &::before {
            content: "";
            position: absolute;
            width: 100%;
            transform: scaleX(0);
            height: 3px;
            bottom: 0px;
            left: 0;
            background-color: currentColor;
            transform-origin: bottom right;
            transition: transform 250ms ease-out;
        }
        &:hover::before {
            cursor: pointer;
            transform: scaleX(1);
            transform-origin: bottom left;
        }
    }
}
.orange, .violet, .violet2, .bleu, .bleu_clair, .bleu_clair2 {
   
    h3 {
         display: inline-flex;
         position: relative;
         &::before {
             content: "";
             position: absolute;
             width: 100%;
             transform: scaleX(0);
             height: 3px;
             bottom: 0px;
             left: 0;
             background-color: currentColor;
             transform-origin: bottom right;
             transition: transform 250ms ease-out;
         }
         &:hover::before {
             cursor: pointer;
             transform: scaleX(1);
             transform-origin: bottom left;
         }
     }
 }